<h2>Страница клиента</h2>

<p>
    Имя: <%=  @client.name%>
    <br />
    Телефон: <%=  @client.phone%>
    <br />
    Дата и Время: <%=  @client.datestamp%>
    <br />
    Цвет: <%=  @client.color%>
</p>